<section class="section" id="carousel-section">
  <div class="container">
    <div id="carousel-demo" class="carousel pb-6" style="overflow: hidden">
      <div class="item-1">
        <div class="columns">
          <div class="column is-half">
            <h2 class="title is-1">Angular Demos</h2>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <ul>
                  <li><a routerLink="/map">Operator Map</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Carousel -->
  </div>
</section>
